.doughnut {
  width: 220px;
  height: 220px;
  cursor: pointer;
  position: relative;

  @media (max-width: 500px) {
    width: 180px;
    height: 180px;
  }
}

.summa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
  color: white;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 1px;

	@media (max-width: 500px) {
		 font-size: 1rem;
	}
}

.empty {
  font-size: 0.9rem;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 125%;
  font-weight: 400;
}
