.fields {
  display: flex;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  cursor: pointer;

  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #545bfe;
  }

  .checkboxLabel {
    display: inline;
  }
}
