.button {
  display: flex;
  justify-content: center;
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 0.95rem;
  background-color: var(--btn-success);
  color: var(--bg-accent);

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--btn-success-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.headerLogo {
  font-size: 1.35rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 480px) {
    font-size: 1.3rem;
  }
}

.createFamilyBtn {
  margin-top: 10px;
  padding: 0.6rem 1.2rem;
  background-color: var(--bg-dark-primary);
  border: 1px solid var(--bg-light-blue);
  color: var(--bg-light-blue);
  border-radius: 7px;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(1px);
		background-color: var(--bg-light-blue);
		color: var(--bg-dark-primary);
  }
}

.userError {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.createExpense {
  background-color: #31baca;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  @media (max-width: 500px) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: #2ba8b6;
  }

  .cross {
    position: relative;
    width: 25px;
    height: 25px;

    @media (max-width: 500px) {
      width: 16px;
      height: 16px;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 3px;
      background: white;
      transform-origin: center;
    }

    span:first-child {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    span:last-child {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}
