.userProfile {
  &__section {
    border-top: 1px solid var(--bg-dark-secondary);
    padding-top: 25px;
    margin-bottom: 40px;
  }
}

.btn {
  margin-top: 40px;
  padding: 10px 22px;
  background-color: transparent;
  color: rgb(251, 66, 66);
  border: 2px solid rgb(251, 66, 66);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: rgb(251, 66, 66);
    color: white;
  }
}

.confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__content {
    background: var(--bg-dark-primary);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    width: 90%;
    color: white;
    text-align: center;

    h3 {
      margin-bottom: 10px;
      color: white;
    }

    p {
      margin-bottom: 10px;
      color: white;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    button {
      flex: 1;
      padding: 10px;
    }
  }

  &__cancel {
    background: #f75c5c;

    &:hover {
      background: #f55050;
    }
  }

 
}
