.userProfile {
  &__section {
    border-top: 1px solid var(--bg-dark-secondary);
    padding-top: 25px;
    margin-bottom: 40px;
  }
}

.btn {
  margin-top: 40px;
  padding: 10px 22px;
  background-color: transparent;
  color: rgb(251, 66, 66);
  border: 2px solid rgb(251, 66, 66);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: rgb(251, 66, 66);
    color: white;
  }
}
