.userProfile {
  &__sectionTitle {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__section {
    border-top: 1px solid var(--bg-dark-secondary);
    padding-top: 25px;
    margin-bottom: 40px;
  }

  &__familyCard {
    border-radius: 1rem;
    max-width: 500px;

    h3 {
      color: white;
      font-size: 1.45rem;
      color: var(--bg-light-blue);
      font-weight: 500;
    }

    ul {
      display: flex;
      gap: 10px;
      li {
        background-color: var(--bg-dark-secondary);
        padding: 12px 25px;
        border-radius: 7px;
        margin-bottom: 10px;
        color: white;
        font-size: 1rem;
        width: 150px;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__quantity {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;

    h3 {
      font-weight: 600;
      font-size: 1.2rem;
      color: var(--bg-light-blue);
    }

    div {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  &__invite {
    border: 1px solid var(--bg-light-blue);
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 8px;
    width: 110px;
    margin-bottom: 30px;
  }
}
