.footer {
  background-color: #37393c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  gap: 16px;
}

.inputWrapper {
  flex-grow: 1;
  max-height: 120px;
  overflow-y: auto;
  display: flex;
  align-items: center;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.textarea {
  all: unset;
  width: 100%;
  min-height: 48px;
  max-height: 200px;
  background-color: #37393c;
  color: white;
  font: inherit;
  line-height: 1.5;
  box-sizing: border-box;
  resize: none;
  padding: 14px 12px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
  border: none;
  outline: none;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    line-height: normal;
  }
}

.actions {
  display: flex;
  gap: 10px;

  button {
    background-color: #37393c;
    border: none;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(1px);
    }
  }
}
